ninja  # For faster builds.
psutil
pandas  # Required for Ray data.
pyarrow  # Required for Ray data.
sentencepiece  # Required for LLaMA tokenizer.
numpy
fastapi
uvicorn[standard]
pydantic == 1.10.13  # Required for OpenAI server.
aioprometheus[starlette]
pillow # Rqueired for image processing.
